# Exercise 1

###  Exercise 1a
>In the first part I provide solution to exerise one.

In [1]:
import pandas as pd

In [2]:
# load  imdb  data 
imdb_data_set = pd.read_csv("imdb-1.csv",skipinitialspace=True,names = ["imdb_emails", "imdb_movies", "date", "rating"])

In [3]:
# Let us view the data set
imdb_data_set.head()

,imdb_emails,imdb_movies,date,rating
0,pierre.fouche@epfl.ch,Vertigo,01/01/08,4
1,dan.chai@epfl.ae,Once Upon a Time in the West,01/02/00,3
2,ergys.dona@epfl.ch,Modern Times,01/02/01,2
3,zoe.baraschi@epfl.ch,Seven Samurai,01/03/07,2
4,konstantinos.prasopoulos@epfl.ch,Ikiru,01/03/07,2

In [4]:
# convert date to date time
imdb_data_set.date = pd.to_datetime(imdb_data_set["date"])

In [5]:
#  check to be sure we have date time
imdb_data_set.dtypes

imdb_emails            object
imdb_movies            object
date           datetime64[ns]
rating                  int64
dtype: object

In [6]:
# load  dedis  data 
dedis_data_set = pd.read_csv("dedis-1.csv",skipinitialspace=True,names = ["hash_email", "hash_movies", "date", "dedis_rating"])

In [7]:
dedis_data_set[1:3] # view data set

,hash_email,hash_movies,date,dedis_rating
1,9b273fbaf53137ca63e6ae6302283edd66a1c6c9b48880...,04dc635aa948d4aa345a82fc74fc077acf0768fec9841a...,01/01/14,1
2,c30ee8b5f53dae1ca006577ba49c4d2f17ee23d2cee850...,16430d84f766259f9887d560c6588dcdb09b645270fb2a...,01/02/00,3

In [8]:
# convert date to date time
dedis_data_set.date = pd.to_datetime(dedis_data_set["date"])

In [9]:
# check to confirm conversion
dedis_data_set.dtypes

hash_email              object
hash_movies             object
date            datetime64[ns]
dedis_rating             int64
dtype: object

In [10]:
# join the tables 
merged_data = pd.merge(imdb_data_set,dedis_data_set, on= ["date"],how="outer")

In [11]:
merged_data.head()[1:2]

,imdb_emails,imdb_movies,date,rating,hash_email,hash_movies,dedis_rating
1,dan.chai@epfl.ae,Once Upon a Time in the West,2000-01-02,3.0,c30ee8b5f53dae1ca006577ba49c4d2f17ee23d2cee850...,16430d84f766259f9887d560c6588dcdb09b645270fb2a...,3

In [12]:
# lets check for my email and figure out the hash in data base 
# We observe that the hash of my "emails|salt" is likely to be the most 
# frequent one
merged_data.loc[merged_data["imdb_emails"]=="lukman.olagoke@epfl.ch" ].\
                                            drop_duplicates(subset=["imdb_movies"], keep="last")

,imdb_emails,imdb_movies,date,rating,hash_email,hash_movies,dedis_rating
235,lukman.olagoke@epfl.ch,Bicycle Thieves,2007-06-12,4.0,7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed3...,c3517615041c7b900707ec8d0762479bc6b683873c9b29...,4
675,lukman.olagoke@epfl.ch,Pulp Fiction,2010-07-17,1.0,7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed3...,fe79142f8e8ef3e1db07b22edee7248343902184dfec4c...,1
783,lukman.olagoke@epfl.ch,Ikiru,2014-04-19,3.0,7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed3...,bb7689a10526db6d27f2b04e26689f53b9ccaf83011cf1...,3
967,lukman.olagoke@epfl.ch,It's a Wonderful Life,2013-04-24,2.0,8d31d9ffd9e33d2d3990690c61d9baf6239723d8ab9e37...,36d24a7a3a73598e1829b2a180a6a77d9fcfef714469f1...,1
1075,lukman.olagoke@epfl.ch,North by Northwest,2007-11-26,5.0,7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed3...,0b037392b4d376ac94a96ca731d953f404531c5b633326...,5

In [13]:
# The output below shows that my mail_salt_hash is most likely to be the second row below
# *** Precisely, below we retrieve the rows with my mail referenced ******************
# Then we group the returned results by the hash values occuring in results
# The most frequent hash value is my hash value
merged_data.loc[merged_data["imdb_emails"]=="lukman.olagoke@epfl.ch" ].groupby('hash_email').count()

,imdb_emails,imdb_movies,date,rating,hash_movies,dedis_rating
hash_email,,,,,,
401fcf018987f448c1f587c923f6351c4a0ec5f06079e9ac7debe38682d711d9,1,1,1,1,1,1
7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed38d95696a7284e2480e,5,5,5,5,5,5
8d31d9ffd9e33d2d3990690c61d9baf6239723d8ab9e3752c7b7d89aec498b5d,1,1,1,1,1,1

In [14]:
# Get my movie list hash from 
my_movie_list_hash = dedis_data_set.loc[dedis_data_set["hash_email"]==\
                   "7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed38d95696a7284e2480e"]["hash_movies"].tolist()

In [15]:
# My first 5 movies can be extracted from data base

half_movie_list= merged_data.loc[(merged_data["hash_movies"].isin(my_movie_list_hash)) & \
                (merged_data["imdb_emails"]=="lukman.olagoke@epfl.ch") & (merged_data["hash_email"]==\
                "7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed38d95696a7284e2480e")]["imdb_movies"].tolist()

In [16]:
# Get the hash of my movies that have been recovered now. 
# Generally this is the hash of movies in the the half movie list
half_movie_list_hash = merged_data.loc[(merged_data["hash_movies"].isin(my_movie_list_hash)) & \
                (merged_data["imdb_emails"]=="lukman.olagoke@epfl.ch") & (merged_data["hash_email"]==\
                "7b5a39a3d50b7d557995e85cb46253fb7201dd88da0ed38d95696a7284e2480e")]["hash_movies"].tolist()

In [17]:
# Recover the hash of my movies in dedis database for which 
#  no corresponding movie title is available

unrecovered_movie_hash = list(set(my_movie_list_hash) - set(half_movie_list_hash))

In [73]:
# search the imdb data base to recover these movies 
ranking_of_title_mapping = merged_data.loc[merged_data["hash_movies"].\
                            isin(unrecovered_movie_hash)].groupby(["hash_movies","imdb_movies"]).count()

In [75]:
ranking_of_title_mapping[1:5] # view part of the data set

                                                                                    imdb_emails  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... One Flew Over the Cuckoo's Nest            1
                                                   Sunset Blvd.                              19
                                                   Taxi Driver                                1
                                                   The Good, the Bad and the Ugly             1

                                                                                    date  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... One Flew Over the Cuckoo's Nest     1
                                                   Sunset Blvd.                       19
                                                   Taxi Driver                         1
                                                   The Good, the Bad and the Ugly      1

                                                                                    rating  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... One Flew Over the Cuckoo's Nest       1
                                                   Sunset Blvd.                         19
                                                   Taxi Driver                           1
                                                   The Good, the Bad and the Ugly        1

                                                                                    hash_email  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... One Flew Over the Cuckoo's Nest           1
                                                   Sunset Blvd.                             19
                                                   Taxi Driver                               1
                                                   The Good, the Bad and the Ugly            1

                                                                                    dedis_rating
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... One Flew Over the Cuckoo's Nest             1
                                                   Sunset Blvd.                               19
                                                   Taxi Driver                                 1
                                                   The Good, the Bad and the Ugly              1

In [77]:
# sort this to pick the most biggest in rating.
# The highes in rating will likely correspond to the  actual movie title in case of multiple mapping 
# as can be observed above
ranking_of_title_mapping = ranking_of_title_mapping.sort_values(by=(["rating","dedis_rating"])).reindex()

In [78]:
ranking_of_title_mapping.head() # data set has been sorted here

                                                                                    imdb_emails  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... Bicycle Thieves                            1
                                                   One Flew Over the Cuckoo's Nest            1
                                                   Taxi Driver                                1
                                                   The Good, the Bad and the Ugly             1
                                                   The Shawshank Redemption                   1

                                                                                    date  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... Bicycle Thieves                     1
                                                   One Flew Over the Cuckoo's Nest     1
                                                   Taxi Driver                         1
                                                   The Good, the Bad and the Ugly      1
                                                   The Shawshank Redemption            1

                                                                                    rating  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... Bicycle Thieves                       1
                                                   One Flew Over the Cuckoo's Nest       1
                                                   Taxi Driver                           1
                                                   The Good, the Bad and the Ugly        1
                                                   The Shawshank Redemption              1

                                                                                    hash_email  \
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... Bicycle Thieves                           1
                                                   One Flew Over the Cuckoo's Nest           1
                                                   Taxi Driver                               1
                                                   The Good, the Bad and the Ugly            1
                                                   The Shawshank Redemption                  1

                                                                                    dedis_rating
hash_movies                                        imdb_movies
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e3... Bicycle Thieves                             1
                                                   One Flew Over the Cuckoo's Nest             1
                                                   Taxi Driver                                 1
                                                   The Good, the Bad and the Ugly              1
                                                   The Shawshank Redemption                    1

In [21]:
# we are interested in the last five movies with the highes rating
ranking_of_title_mapping[-5:]

,,imdb_emails,date,rating,hash_email,dedis_rating
hash_movies,imdb_movies,,,,,
3c166d8c77f2d1a2d1bcf88bfbf726ac16397e9c59ccc2e2d614ebd83e4846e7,Raiders of the Lost Ark,11,11,11,11,11
36d24a7a3a73598e1829b2a180a6a77d9fcfef714469f1959a1809c482795250,The Night of the Hunter,15,15,15,15,15
34c8861f85e294d267d7399b2b80fb97d9bc95d4b5d73e34f560bf227c2cac12,Sunset Blvd.,19,19,19,19,19
a6f50199eb5e8762267a7d4f8ecc3c7fd93696699f1f17d6cf83c68d69976ee3,Citizen Kane,20,20,20,20,20
c7301e24dae08760451022c98650ec230c57bc207262c165da9876e488ee484a,The Wages of Fear,25,25,25,25,25

In [22]:
# Collect the movies 
remaining_half_title =ranking_of_title_mapping.index.get_level_values('imdb_movies').tolist()[-5:]

In [23]:
full_title  = half_movie_list + remaining_half_title

In [24]:
full_title

['Bicycle Thieves',
 'Pulp Fiction',
 'Ikiru',
 "It's a Wonderful Life",
 'North by Northwest',
 'Raiders of the Lost Ark',
 'The Night of the Hunter',
 'Sunset Blvd.',
 'Citizen Kane',
 'The Wages of Fear']

In [25]:
full_movies= pd.Series( v for v in full_title )

In [26]:
full_movies.to_csv("ex1a.csv", index=False) # store movies as csv, set index to false so that indices are not saved

# Exercise 1b

In [27]:
# load  imdb  data 
import pandas as pd
imdb_data_2 = pd.read_csv("imdb-2.csv",skipinitialspace=True,names = ["imdb_emails", "imdb_movies", "date", "rating"])

In [28]:
imdb_data_2[1:3] # view data set

        imdb_emails               imdb_movies      date  rating
1  hyun.cho@epfl.ch  The Shawshank Redemption  01/01/06       4
2  dan.chai@epfl.ae              12 Angry Men  01/01/07       1

In [29]:
# Convert data type to date time
imdb_data_2.date = pd.to_datetime(imdb_data_2["date"])

In [30]:
imdb_data_2.dtypes # confirm date time data type is present

imdb_emails            object
imdb_movies            object
date           datetime64[ns]
rating                  int64
dtype: object

In [31]:
# Read dedis data base 
dedis_data_2 = pd.read_csv("dedis-2.csv",skipinitialspace=True,names = ["hash_email", "hash_movies", "date", "dedis_rating"])

In [32]:
dedis_data_2[1:3]

,hash_email,hash_movies,date,dedis_rating
1,b5251fde0c96155783bf423f0cbbfe05ea23279f6680f1...,39147f1914fd3617283396eb951c4f77d1e9f87576414b...,01/01/04,3
2,75c727377eec050f7bf10e261c2d2bc75468cba7fe5b38...,b90ae85d2023d76ffc7e25acceab8b08a2000542d8211d...,01/01/05,1

In [33]:
dedis_data_2.shape # verify shape

(3762, 4)

In [34]:
# convert date column to date time data type
dedis_data_2.date = pd.to_datetime(dedis_data_2["date"])

In [35]:
dedis_data_2.head()[1:2] # view data set

,hash_email,hash_movies,date,dedis_rating
1,b5251fde0c96155783bf423f0cbbfe05ea23279f6680f1...,39147f1914fd3617283396eb951c4f77d1e9f87576414b...,2004-01-01,3

In [36]:
# group moves by rating count and sort values
hash_movies_2 = dedis_data_2.groupby(["hash_movies"]).count().sort_values(by= "date")[["dedis_rating"]]

In [37]:
# Group data set by movies. Count the number of times a movies 
imdb_movies_2 = imdb_data_2.groupby(["imdb_movies"]).count().sort_values(by= "date")[["rating"]]

In [38]:
imdb_movies_2[1:4]

                       rating
imdb_movies
Raging Bull                 6
It's a Wonderful Life       9
2001: A Space Odyssey      12

In [39]:
print ("shape of data set  movies_hashes: ",hash_movies_2.shape[0])
print("shape of data set movies title: ",imdb_movies_2.shape[0])

shape of data set  movies_hashes:  47
shape of data set movies title:  47

In [40]:
hash_movies_2.reset_index(inplace=True) # reset the index of movie hashes

In [41]:
imdb_movies_2.reset_index(inplace=True) # reset the index of movie tiutles

In [42]:
# merge the 2 data set of hash_movies and movies_title
mapped_hashe_title = pd.merge(imdb_movies_2, hash_movies_2, left_index=True, right_index=True)

In [43]:
# make key value pair of movie_hash and title
hash_movies_mapping = dict(zip(mapped_hashe_title.hash_movies.tolist(),mapped_hashe_title.imdb_movies.tolist()))

In [57]:
hash_movies_mapping

{'000645829740d5db7992a01c3e9ad8b43c4438ab94aa84469ca50174c11b0ab3': 'The Night of the Hunter',
 '0230d5b1b8c699e4a524d984f7f6841892abd8ec7dfa4d76522dbf14276b6f03': 'Rashomon',
 '0482ff5c76ce00eeaa5e0c9ac557f2e8446592a518116c30082f4a99580df4e0': 'Goodfellas',
 '135f974a6e7b0521e0ca61d8958a6290b831b8db23858fca61c70539f821c0e1': 'Paths of Glory',
 '14db9710e1fee0ad4dff1726a9d248c881546d4b2019339f79430def7a962f2e': 'Lawrence of Arabia',
 '1a34784dbe6380230cbba44c008abef8d122aeb21391a7bf5674d8d7734df92e': 'Once Upon a Time in the West',
 '1ba2bfb82e3e851228a06b051db76a933d19ecf3f93472115a8fc115b3a8412f': 'Star Wars: Episode IV - A New Hope',
 '1f97b0ce5678121b2c33f9256e670cdb1006501563ec8e2c192cd090e0651126': '2001: A Space Odyssey',
 '352fce88b2b7aadb220d8daff6aad773bb84099db7fe8c2a3885dc144b6196a2': 'Taxi Driver',
 '368bf46251e2bc40e7f5a32eda6ca5a01ed4810d97ade98d8d9e85e7381b7abc': 'Raiders of the Lost Ark',
 '39147f1914fd3617283396eb951c4f77d1e9f87576414b7f9f978a34bcbdd5cc': 'City Lights',
 '3a83effc06c60b5ef9833e8f48f48771b43a1c9cd4421e7dbecb0370cf38de2c': 'Sunrise',
 '3d0b64ae7734198e20a0f35fa458d3d9ec1f901d627f302dafa4d1452d7c2c9b': 'The 400 Blows',
 '3e5736a97c60348f3b0cd18ab5cba6de09ecf7672190c17f3838bdc716b1ec16': 'The Good, the Bad and the Ugly',
 '4474255951dfe2e8b0778aaa50e82aed01c25a471552bbaeb446986e63fac954': 'Sunset Blvd.',
 '455a7e2aa12cc36497a5a7098e4202ce3023329ae3c7370fbcab23988f563659': 'The Godfather: Part II',
 '522e4c4dbbd501d434d20e80ae0e89d62197440ce4d31e449285743f430fcb7d': 'Apocalypse Now',
 '522ecefde126eaabac13f7d8a3debc891c49bf5075cd9ed243e3c0e18146d36e': 'Star Wars: Episode V - The Empire Strikes Back',
 '53d9e2a60f6f959ca6becf93c3625949522e080b9811647f2415825e38d57d8d': 'Fanny and Alexander',
 '5fb4430a2947a13b8ead2a4e47b56c031ab7826a4f0fe768f2e3a2d0f3fd1df0': 'Raging Bull',
 '648ac3b9aaeb044f6beb5efbb5170ca29e2fedb556ef5f1b2c75dfa1da8c8d80': "Singin' in the Rain",
 '6a5574fb180d198e0df88624aabd544d6c27ad675435f3eb5a358212425d3c2c': 'The Dark Knight',
 '6d6ccb4332be923727ea38b6e61e32d1a8089da373280ecbe04396b031023284': 'The Shawshank Redemption',
 '8245e486dfa54dc3e5d5f3c55c06b44686c70d4c922d30bc52ffe596895b5c6a': 'Psycho',
 '835c01084c2db4c9a328607912f1b720251b3b41856fad4a4080cb8098e08073': 'North by Northwest',
 '8749df7dd71dddd10112faa7fded4dc400e2f9ff830ee5763e6ac531033e54ac': 'The Third Man',
 '8bdf67297baa51e8f1748e4b4a509cefef3fe7d605262d1c6776bfd7c7e32544': 'Ikiru',
 '8cd99b28b3df3d15fdbd445e7be683525c8b28402c5121ed7608b2c29f91b101': 'Spirited Away',
 '97c4836f1b859ba1685a9537ba47328c50c380b25826c840df43879e44c41bec': 'Casablanca',
 '9a9b1555fbc7593c18fbe690ac393bc4621130751293d17a1f5b8541e51c7ce5': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '9acf75d6d190ad0f019ecfbc5bcb1f9f9541cebd02c2ae8cd23c1bf51ccc73be': '12 Angry Men',
 'a74db848261ef5b4681f7a002da5859abacea81620b5e534ed7c2b65b6e9e759': 'The Godfather',
 'b01486a19be0b39f19f8319abb84caa549e762408ede2624467cd7aa52605b9a': "It's a Wonderful Life",
 'b90ae85d2023d76ffc7e25acceab8b08a2000542d8211d3bc03b7f3056fc2e95': 'Rear Window',
 'b9834b8bfc0997235251c04b66885711e982a857a2e9d0a695546eb82305f304': 'On the Waterfront',
 'bb0fd4e613de0904373ce04a478b0ce9013fc731c7fd54c4b1ad173b12688d0b': "One Flew Over the Cuckoo's Nest",
 'c2cbf911f0145cd87edb58e4eedf2703306b7335fecdd94a8629f2129d4e8a17': 'Seven Samurai',
 'c72f1d0039b53cc338a3973e11545963e21c1eb81db44de21508bae4b57547cd': "Schindler's List",
 'caf4fe69015e0d33c4bf1398e30cfed63ac060e0dbd07428f17fc4f17169879e': 'Bicycle Thieves',
 'd3e0915ee40de287611db4ffe40855cd0701d2ebc6005f283eb2c7d3772d8d8a': 'M',
 'd7c8e9d647c4d8efafb3433f0f2d818bea96c6a9a8a9360584e5747b9bc132dd': 'Pulp Fiction',
 'dd0ca6a7cbf29f1f3355ec4c9e23069b46da2fab12494056aedb1f1a235d3804': 'Chinatown',
 'ded6560392e78901f23fd0a1cf0bf41d19de3434f58bd6633a41aae7e55a2ab3': 'Citizen Kane',
 'eda86ee710ce68ac0e6e7014579d5493a94c85afd04d4225dcf66d3ed07c3e58': 'Metropolis',
 'ee9c6264e55dde40fec30114337ff3ec1dd4740a0a2d3da9388acd3507a2f96a': 'Double Indemnity',
 'f2259771ce6c1623e00709595a38dc232e247a0ab68bb1bc8acde6cec070ba32': 'Vertigo',
 'fe7750029c757215dc6104f81d43f8add62d965b451db6192d4c5985954de6e0': 'Modern Times'}

In [45]:
# map movie data to dedis data base 
dedis_data_2['movie_titles'] = dedis_data_2['hash_movies'].map(hash_movies_mapping)

In [46]:
dedis_data_2.head() # the dedis data base has been augmented with movie title

,hash_email,hash_movies,date,dedis_rating,movie_titles
0,0c1cb452656e09f664f812be2abb276f5319d69691a34d...,4474255951dfe2e8b0778aaa50e82aed01c25a471552bb...,2003-01-01,4,Sunset Blvd.
1,b5251fde0c96155783bf423f0cbbfe05ea23279f6680f1...,39147f1914fd3617283396eb951c4f77d1e9f87576414b...,2004-01-01,3,City Lights
2,75c727377eec050f7bf10e261c2d2bc75468cba7fe5b38...,b90ae85d2023d76ffc7e25acceab8b08a2000542d8211d...,2005-01-01,1,Rear Window
3,6e5c999d36c06e390dbf49979c2f279d0f3ed59ca9aae3...,522e4c4dbbd501d434d20e80ae0e89d62197440ce4d31e...,2006-01-01,5,Apocalypse Now
4,954844ff6b410a8208ede5f442dab744c253cf1b425c03...,8245e486dfa54dc3e5d5f3c55c06b44686c70d4c922d30...,2006-01-01,2,Psycho

In [47]:
# colect all user email hash from dedis data base
hash_list = dedis_data_2["hash_email"].unique().tolist()

In [48]:
hash_list[1:3] # view list

['b5251fde0c96155783bf423f0cbbfe05ea23279f6680f1041574b83e4c6b6a69',
 '75c727377eec050f7bf10e261c2d2bc75468cba7fe5b38be61cc302e60da2209']

In [49]:
# my public movie list is here. from imdb data set 
public_movie_list= imdb_data_2.loc[imdb_data_2["imdb_emails"]=="lukman.olagoke@epfl.ch"]["imdb_movies"].tolist()

In [64]:
# Check the dedis data base for a user that rated all movies in my public movie list
# This user should correspond to me. And from this I know I have found my email_hash

public_movie_list_set = set(public_movie_list) # convert complete movie list to set so that I can later define intersection.
# Intersection here means intersection of the retrieved movies from dedis database with my public rating
my_movie_size = len(public_movie_list) # The intersection of 2 sets (public rating and retireved user movies from)
# will be compared to intersection size. A dedis user (hash_email) whose retrieved movies intersect fully 
# with public movie ratings must have rated all the movies in the public rating.  
# This means it must give intersection value == intersection size == size of public rating
   
for i in hash_list: 
        dedis_user_movie_list= dedis_data_2.loc[dedis_data_2["hash_email"]== i ]["movie_titles"].tolist() # This is the movie
        # list for each use in the dedis database
        dedis_user_movie_set = set(dedis_user_movie_list) # convert movie list to set
        intersect = dedis_user_movie_set.intersection(public_movie_list_set) # compute intersection of 
        # public movie set and dedis user movie set
        intersect_val = len(list(intersect)) # convert the intersection back to list aand compute length. This will
        # be compared to intersection size . We want to find : 
        # intersection value == my_movie_size == size of public rating which corresponds to me
        
        
        if intersect_val == my_movie_size:
            print("*********************** Found ******************************")
            print("My email hash is:\n",i,"\nand the movie size and intersection size are same: \n", intersect_val,my_movie_size )

*********************** Found ******************************
My email hash is:
 97e037132b359ced669e3cfebdb45d5c69ee1dd075a4488e55b7c24c8a666e54
and the movie size and intersection size are same:
 18 18

In [51]:
# use my hash to retrieve my ratings in dedis data base
my_dedis_movies = dedis_data_2.loc[dedis_data_2["hash_email"]==\
                                "97e037132b359ced669e3cfebdb45d5c69ee1dd075a4488e55b7c24c8a666e54"]\
                                ["movie_titles"].tolist()

In [58]:
my_dedis_movies

['Raging Bull',
 'The Good, the Bad and the Ugly',
 'M',
 'Pulp Fiction',
 "One Flew Over the Cuckoo's Nest",
 'The Godfather',
 'Spirited Away',
 'Casablanca',
 'On the Waterfront',
 '12 Angry Men',
 'City Lights',
 'The Godfather: Part II',
 'Lawrence of Arabia',
 'Goodfellas',
 'The Shawshank Redemption',
 'Seven Samurai',
 'Apocalypse Now',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Modern Times',
 "Schindler's List"]

In [59]:
my_dedis_movies_to_pandas_series = pd.Series( v for v in my_dedis_movies ) # convert movies to pandas series 
# this is to enable save as csv file
my_dedis_movies_to_pandas_series.to_csv("ex1b.csv", index=False) # save as csv file

# Exercise 1c

In [237]:
imdb_data_3 = pd.read_csv("imdb-3.csv",skipinitialspace=True,names = ["imdb_emails", "imdb_movies", "date", "rating"])

In [238]:
# Let us view the data set
imdb_data_3.head()

                  imdb_emails              imdb_movies      date  rating
0     alexandre.dumur@epfl.ch             The Graduate  01/01/01       3
1      simon.meinhard@epfl.ch                Incendies  01/01/01       5
2  diego.iriartesainz@epfl.ch  Raiders of the Lost Ark  01/01/02       5
3      federico.betti@epfl.ch    To Kill a Mockingbird  01/01/04       1
4          ergys.dona@epfl.ch              Stand by Me  01/01/05       2

In [239]:
# convert to date time
imdb_data_3.date = pd.to_datetime(imdb_data_3["date"])

In [240]:
dedis_data_3 = pd.read_csv("dedis-3.csv",skipinitialspace=True,names = ["hash_email", "hash_movies", "date", "dedis_rating"])

In [241]:
dedis_data_3.date = pd.to_datetime(dedis_data_3["date"])

In [ ]:
# USER HASH plain text overlap